@import '../../common/colors.scss';

.website-section-property {
  margin-bottom: 20px;
  
  .headingLabel {
    font-size: 20px;
    color: $primary800;
    margin-right: 10px;
  }
}
.mainDetails {
  display: flex;
  align-items: stretch;

  .details {
    .material-card {
      height: 100%;
    }
  }

  .images, .details, {
    width: 50%;
    padding: 20px;

    img {
      margin: 0 auto;
    }
    .nextPrevIcon {
      background-color: #0d47a133;
    }
  }
  .images .carousel-item {
    height: 400px;
    border: 1px solid $primary400;
  }
}
.otherDetails {
  padding: 20px;

  .headingBanner {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background: $primaryDark;
    margin: 10px 0;

    span {
      color: #dddddd;
    }
    strong {
      color: white;
    }
  }
  .video-box {
    width: 99%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;

    .video-attribute {
      margin-bottom: 5px;
    }
  }
}

.groupedValues {
  border: 1px solid #eaeaea;
  background-color: #fafafa;
  border-radius: 5px;

  .single-element {
    padding: 10px;

    input {
      margin: 5px 0;
    }
    .inputFields {
      width: 90%;
      margin: 10px 0;
    }
  }
  .single-element:nth-child(even) {
    background-color: white;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
}

.website-section-images {
  padding: 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  
  .imageHolder {
    display: flex;
    align-items: center;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 5px 0;

    img {
      width: 100%;
    }
  } 
}

.tags {
  span {
    cursor: pointer !important;
    background-color: $primary400;
    font-weight: bold;
    border-radius: 10px;
    font-size: 13px;
    padding: 2px 5px;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 50px;
    text-align: center;
  }

  .ReactTags__selected {
    display: flex;
    flex-flow: row wrap;

    .ReactTags__tagInput {
      width: 100%;
      border: 1px solid #dddddd;

      .ReactTags__tagInputField {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .mainDetails {
    flex-direction: column;

    .images, .details {
      width: 100%;
      padding: 20px 0;
    }
  }
  .imageHolder {
    width: 100% !important;
    height: auto !important;
  }
  .otherDetails {
    padding: 0;
  }
}
