@import '../../common/colors.scss';

.contact-form {
  input[type=text], input[type=email] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #65a3dd;
    color: white;
    border-radius: 0;
  }
  textarea {
    background-color: transparent;
    border: 1px solid #65a3dd;
    color: white;
    border-radius: 0;
  }
  button {
    width: 100%;
    background-color: $primary;
    border: none;
    color: white;
  }
}

@media screen and (max-width: 800px) {
}
