@import '../../common/colors.scss';
@import '../../common/mixins.scss';

.navigation-bar {
  .logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
  }
  nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 2;
  }
  nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: all 1s ease-in-out;
  }
  .black-nav ul {
    @include gradientBg;

    li a {
      font-size: 16px;
      cursor: pointer;
    }
  }
  nav ul li {
    display: inline-block;
    padding: 16px 40px;;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 1s ease-in-out;
  }
  .menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }
  .menu {
    .active-nav-link {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 800px) {
  .navigation-bar {
    .logo {
      position: fixed;
      top: 0;
      margin-top: 16px;
    }
    nav ul {
      max-height: 0px;
      background: #000;
    }
    .black-nav ul {
      background: #000;
    }
    .showing {
      max-height: 34em;
    }
    nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px;
      text-align: center;
    }
    .menu-icon {
      display: block;
    }
  }
}
